<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.hdu.back.mapper.WebPageDetailMapper" >
  
    <select id="getResult" resultType="Map">
	    select
	    	wpd.id,
	    	wpd.url,
	    	wpd.domain,
	    	wpd.title,
	    	wpd.author,
	    	wpd.keyword,
	    	case when
				wpd.content is null
			then
				null
			else
				case when
					char_length(wpd.content)>100
				then
					substring(wpd.content, 1, 100)
				else
					substring(wpd.content, 1)
				end
			end
			content,
	    	wps1.resource_url videoUrl,
			wps2.resource_url imgUrl
	    from
	    	search_crawler.web_page_detail wpd
	    left join
	    	search_crawler.web_page_resource wps1
	    	on wpd.id=wps1.url_detail_id
	    	and wps1.resource_type=1
	    left join
	    	search_crawler.web_page_resource wps2
	    	on wpd.id=wps2.url_detail_id
	    	and wps2.resource_type=2
    	<where>    
	        <if test="input1 != null"> 
	        	<if test="select1 == '域名'.toString()">
	        		wpd.domain = #{input1}
	        	</if>   
	             <if test="select1 == '标题'.toString()">
	        		wpd.title like concat('%',#{input1},'%')
	        	</if>  
	        	<if test="select1 == '关键字'.toString()">
	        		wpd.title like concat('%',#{input1},'%')
	        	</if>  
	        </if> 
				<if test="input2 != null"> 
					<if test="relation1 != 'not'.toString()">
						<if test="relation1 == 'and'.toString()">
							and
						</if>
						<if test="relation1 == 'or'.toString()">
							or
						</if>
		        	<if test="select2 == '域名'.toString()">
		        		wpd.domain = #{input2}
		        	</if>   
		             <if test="select2 == '标题'.toString()">
		        		wpd.title like concat('%',#{input2},'%')
		        	</if>  
		        	<if test="select2 == '关键字'.toString()">
		        		wpd.title like concat('%',#{input2},'%')
		        	</if>  
	        	</if>
	        	<if test="relation1 == 'not'.toString()">
	        		and
		        	<if test="select2 == '域名'.toString()">
		        		wpd.domain != #{input2}
		        	</if>   
		             <if test="select2 == '标题'.toString()">
		        		wpd.title not like concat('%',#{input2},'%')
		        	</if>  
		        	<if test="select2 == '关键字'.toString()">
		        		wpd.title not like concat('%',#{input2},'%')
		        	</if>  
	        	</if>
	        </if> 
	        <if test="input3 != null"> 
					<if test="relation2 != 'not'.toString()">
						<if test="relation2 == 'and'.toString()">
							and
						</if>
						<if test="relation2 == 'or'.toString()">
							or
						</if> 
		        	<if test="select3 == '域名'.toString()">
		        		wpd.domain = #{input3}
		        	</if>   
		             <if test="select3 == '标题'.toString()">
		        		wpd.title like concat('%',#{input3},'%')
		        	</if>  
		        	<if test="select3 == '关键字'.toString()">
		        		wpd.title like concat('%',#{input3},'%')
		        	</if>  
	        	</if>
	        	<if test="relation2 == 'not'.toString()">
	        		and
		        	<if test="select3 == '域名'.toString()">
		        		wpd.domain != #{input3}
		        	</if>   
		             <if test="select3 == '标题'.toString()">
		        		wpd.title not like concat('%',#{input3},'%')
		        	</if>  
		        	<if test="select3 == '关键字'.toString()">
		        		wpd.title not like concat('%',#{input3},'%')
		        	</if>  
	        	</if>
	        </if> 
	    </where>
	    group by id
	    limit 50
  	</select>
  
</mapper>